.footer-container {
    background-color: #000;
  }
  
  .overall-footer-top {
    background-color: #2E2E2E;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 10px 0 8px 0;
  }

  .support-class{
    display: flex;
    gap: 20px;
    margin-right: 50px;
  }
  
  .support-section {
    flex: 1;
    padding: 0 20px;
    position: relative;
    ;
  }
  
  .support-section:hover {
    color: #fff;
  }
  
  .support-section .support-icon{  
    font-size: 18px;
    color: #2E2E2E;
    background-color: #fff;
    padding: 6px 7px 4px;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    bottom: 5px;
  }

  .support-section h3 {  
    font-size: 16px;
    margin-left: 15px;
    padding-bottom: 10px;
    color: #B5B5B5;
  }
  
  .support-section p {
    margin-left: 15px;
    font-size: 14px;
    color: #B5B5B5;
  }
  
  .subscribe-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .subscribe-section h3 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #B5B5B5;
  }
  
  .subscribe-section p {
    font-size: 14px;
    color: #B5B5B5;
    margin-bottom: 15px;
  }
  
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-form input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 200px;
    outline: none;
  }
  
  .subscribe-form button {
    padding: 15px 20px;
    font-size: 14px;
    background-color: #ef0180;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ef0180;
    cursor: pointer;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: #fff;
    width: 93vw;
    margin: auto;
    padding: 10px 0 80px;
  }
  
  .footer-links {
    flex: 0.3;
    padding: 20px;
  }
  
  .footer-links h3 {
    font-size: 16px;
    padding-bottom: 10px;
    color: #B5B5B5;
    margin-bottom: 10px;
  }
  .footer-links h3:hover {
    color: #fff;
    font-size: 16.5px;
  }
  
  .footer-links a {
    display: block;
    color: #B5B5B5;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #fff;
    font-size: 14.5px;
  }
  
  .footer-app-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 25px;
  }
  
  .app-links img {
    height: 40px;
    margin: 0 10px;
  }
  
  .social-media {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media h3 {
    font-size: 16px;
    color: #B5B5B5;
    margin-bottom: 10px;
  }
  
  .social-icon {
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    background-color: #2E2E2E;
    border-radius: 50%;
    padding: 9px 8px 4px;
  }
  
  .social-icon:hover {
    color: #B5B5B5;
  }

.copyright{
    color: #B5B5B5;
    text-align: center;
    position: relative;
}
.copyright p {
    color: #B5B5B5;
    text-align: center;
    position: relative;
    background-color: #000;
    z-index: 1;
    display: inline-block;
    margin-bottom: 20px;
}

.copyright hr{
    color: #B5B5B5;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 7px;
}
  