.overall-sponsored {
    padding: 20px;
    width: 90vw;
    margin: auto;
  }
  
  .sponsored-header {
    margin-bottom: 20px;
  }
  
  .header-container h1 {
    margin: 0;
  }
  
 .deals-slider {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    padding: 10px 0; 
  }
  
  .sponsored-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 0 0 auto; 
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .sponsored-item img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  
  .sponsored-info {
    padding: 10px; 
  }
  
  .sponsored-info h5 {
    margin: 15px 0;
    font-size: 16px;
  }
  
  .sponsored-price-info {
    display: flex;
    gap: 30px;
  }
  
  .sponsored-price-info h4 {
    margin: 0;
    font-size: 19px;
  }
  
  .sponsored-price-info p {
    margin: 0;
    text-decoration: line-through;
    color: #999; 
  }
  
  .sponsored-price-info h6 {
    margin: 0;
    background-color: #ee9dc8;
    color: #ef0180;
    padding: 5px 0;
    border-radius: 8px;
  }

  .saved-amount{
    color: #33b27b;
    font-size: 14px;
    padding-top: 10px;
}